<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>mapiriOSExample</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>MAPIRAccessToken</key>
	<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjRiNGFhNTRhNDZiNGM5MGQ4MDA3MDIyYTZkMjBlNGFjNTc1ZTI1N2ZlNzVhNTQ4YTViYTBlNDNlYTk3NzUyOTQ3YzcwMDE3NGU5Y2U1YjljIn0.eyJhdWQiOiIzNyIsImp0aSI6IjRiNGFhNTRhNDZiNGM5MGQ4MDA3MDIyYTZkMjBlNGFjNTc1ZTI1N2ZlNzVhNTQ4YTViYTBlNDNlYTk3NzUyOTQ3YzcwMDE3NGU5Y2U1YjljIiwiaWF0IjoxNTU3MDQzOTUyLCJuYmYiOjE1NTcwNDM5NTIsImV4cCI6MTU2MTg5NDgyNCwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.nAhZ_9eZfJVxGmIMBBVH3lXLVo_TgSWSftci4fivujqHnQuRj8uMyCxapglsm-OdFSkDs5Gb8ZLbZRFksSOEFB77zVcL6J-jdGA6VDqWTALgm_QQo_ujpZJRp9CHbFNOyNqD9epgT9XDtyAKRUmElJEBSqmVECIhocCKlYhGWhomLsxykFVwA6lwRaDpdV84KjoFJaogQfktzyjxJWQBDJRzDauOjRGgB-7bT26-TQxw-SDKOlMMvIkij06ZWczIaYzLqvnINoZs65BlclWuUeuLqxGsQ4_xegzNeoufR6YauLaHhYClqpucad3qtw8GvJdLij616mMPL9rTbNkv4Q</string>
</dict>
</plist>
